body { font: 12px Verdana }

#daysContainer { margin-top: 10px; }
#addEntryDialog { background-color: burlywood; left: 117px; position: absolute; top: 103px; border-radius: 5px 5px 5px 5px; padding: 0 5px 5px; }

.dayHolder { height: 500px; width: 180px; border: 1px solid lightblue; margin: 0 2px; }
.dayHolder h2 { margin: 7px 0; }
.entryHolder { height: 50px; }

.iblock { display: inline-block; }
.hidden { display: none; }
.fleft { float: left; }
.cboth { clear: both; }
.red   { color: red; }
.green { color: green; }
.tmpl { display: none; }